body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#gameboard {
    width: 300px;
    height: 300px;
    background-color: #A0D8B3;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    
}

p {
    font-size: 25px;
}

.square {
    width: 100px;
    height: 100px;
    background-color: #A0D8B3;
    border: 2px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 070A52 */

.circle {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 15px solid #D61355;
    box-sizing: border-box;
}

.cross {
    height: 90px;
    width: 90px;
    position: relative;
    transform: rotate(45deg);
}

.cross::before , .cross::after {
    content: "";
    position: absolute;
    background-color: #070A52;
}

.cross::before{
    left: 50%;
    width: 30%;
    margin-left: -15%;
    height: 100%;
}

.cross::after {
    top: 50%;
    height: 30%;
    margin-top: -15%;
    width: 100%;
}




/* CSS */
.button-1 {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  height: 40px;
  width: 100px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}